<div class='jumbotron'>
  <div class='container'>
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
        <li data-target="#carousel-home" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class='img-responsive center-block' src="app/img/avs.jpg" alt="Avs Logo">
          <div class="carousel-caption">
            <h3>Skills</h3>
          </div>
        </div>
        <div class="item">
          <img class='img-responsive center-block' src="app/img/avs.jpg" alt="Avs Logo">
          <div class="carousel-caption">
            <h3>Motivated and Self-Driven</h3>
          </div>
        </div>
        <div class="item">
          <img class='img-responsive center-block' src="app/img/avs.jpg" alt="Avs Logo">
          <div class="carousel-caption">
            <h3>Problem solving skills</h3>
          </div>
        </div>
        <div class="item">
          <img class='img-responsive center-block' src="app/img/avs.jpg" alt="Avs Logo">
          <div class="carousel-caption">
            <h3>Articulate Communicator</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div id='whyMe'>
  <h1>Why Joe?</h1>
</div>

<div id='hook1' class='container-fluid hook'>
<h3>Hook 1</h3>
</div>

<div class='hookDivider'></div>

<div id='hook2' class='container-fluid hook'>
  <h3>Hook 2</h3>
</div>

<div class='hookDivider'></div>


<div id='hook3' class='container-fluid hook'>
  <h3>Hook 3</h3>
</div>
