<div tracker>
  <div when-ready="onLoad()">
    <div class="container">
      <modal run="trackerRun" show="modalShow" state="modalState" data="sessionInfo"></modal>
      <div>
        <h1>{{trackerHeader}}</h1>
      </div>
      <progress-bar step="currentStep"></progress-bar>
      <div class="row">
        <div class="col-md-6"><h3>Step Time</h3><timer-up  run="trackerRun" step="currentStep"></timer-up></div>
        <div class="col-md-6"><h3>Total Time</h3><timer-up run="trackerRun"></timer-up></div>
      </div>
      <div>
        <!-- Sub Steps Eventually Imported from the Wiki -->
        <tracker-steps step="currentStep"></tracker-steps>
      </div>
      <div><h3>Time to Escalation</h3><timer-down run="trackerRun" step="currentStep"></timer-down></div>
      <div class="btn-group btn-group-justified" role="group" aria-label="Tracker Controls">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="goBack()">
            <i class="glyphicon glyphicon-backward"></i>
            <div class="sr-only">Back</div>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="togglePause()">
            <i class="glyphicon glyphicon-pause" ng-show="pause"><div class="sr-only">Pause</div></i>
            <i class="glyphicon glyphicon-play" ng-hide="pause"><div class="sr-only">Pause</div></i>
          </button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="goNext()">
            <i class="glyphicon glyphicon-forward"></i>
            <div class="sr-only"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
